



.section-cta {
  /* padding: 9.6rem 0; */
  /* padding: 9.6rem 0 12.8rem 0; ---changed for footer */
  padding: 10rem 0 10rem; /*---changed for footer */

  background-color: #f6fbfe;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #e9633a, #e65224);

  overflow: hidden;
}

.cta-text-box {
  color: #333;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondary {
  
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {

  background-image:
    url("../img/suit-up.jpg");
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}


.cta *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgb(253, 242, 233, 0.5);
}



.logo--55{
  height: 30rem;
}

.logo--56{
  height: 30rem;
}

.account-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 0 4.5rem 0;
  padding: 2rem;
  font-size: 2.5rem;
  border: 1px solid #333;
  box-shadow: 30px #333;
}

.info-text {
  font-weight: 15px;
}

.back--1 {
  margin-right: 2rem;
}


           
.info-text--2{
  font-size: 1.5rem;
}